<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/create-project.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/project-detail.css">
    <link rel="stylesheet" href="/css/issue-page.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <%- style %>
</head>
<body>
    <!-- for header part -->
    <%- include ('_header'); %>
 
    <!-- this is a body part content which is a variable -->
    <div class="main">
        <div class="border"></div>
            <div class="frame">
                <%- body %>
            </div>

    <!-- this is end part of body variable content -->

    <%- script %>
</body>
</html>